.pre-footer.bg-violet-dark.pt-6.pb-2
    .container
        .row
            .col-lg-10.col-lg-offset-1
                .row
                    .col-lg-3.col-md-4.col-sm-6
                        ul.list-unstyled.list-white.list-lg
                            li: a(href="#") About Us
                            li: a(href="#") Customer Stories
                            li: a(href="#") Press
                    .col-lg-3.col-md-4.col-sm-6
                        ul.list-unstyled.list-white.list-lg
                            li: a(href="#") Terms of Service
                            li: a(href="#") Privacy Policy
                            li: a(href="#") Trust & Safety
                .row
                    .col-sm-6
                        p.small.text-white.footer-copyright © EVIN, Inc. 2017
                    .col-sm-6
                        .clearfix
                            .pull-sm-right
                                +navSocial()
