<!--[if lt IE 9]>
<script type="text/javascript" src="./js/core/html5shiv.min.js"></script>
<script type="text/javascript" src="./js/core/respond.min.js"></script>
<![endif]-->

script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
script(type="text/javascript", src="js/jquery.matchHeight-min.js")
script(type="text/javascript", src="js/bootstrap-rating-input.min.js")
script(type="text/javascript", src="js/ofi.browser.js")
script(type="text/javascript", src="js/bootstrap-datepicker.min.js")
script(type="text/javascript", src="js/bootstrap-select.min.js")
script(type="text/javascript", src="js/custom.js")