mixin tags()
    ul.list-unstyled.list-inline.list-tags.mb-0
        li: a(href="#") Tag 1
        li: a(href="#") Tag 2
        li: a(href="#") Tag 3
        li: a(href="#") Tag 4
        li: a(href="#") Tag 5